/** CSS Reset */

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255, 0.9);
    font-family: monospace;
    font-size: 1rem;
    background-color: rgb(7, 8, 21);
}

input,
textarea,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

input,
textarea {
    padding: 0.3em 0.6em;
    background-color: rgb(45, 45, 45);
    border: none;
}

button {
    padding: 0.5em 1em;
    background-color: rgb(80, 80, 80);
    border: none;
    cursor: pointer;
}

/** CSS */

html,
body {
    min-width: 280px;
    background-color: #000;
}

main {
    min-width: 100vw;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;

    #number {
        margin: 0;
        padding: .5rem;
        font-size: 3rem;
        font-weight: 600;
        display: grid;
        place-content: center;
    }

    .container {
        --_mui-padding: 1.1rem;
        --_mui-font-size: 1.5rem;
        --_common-gap: 0.4rem;
        --_transition-duration: 0.2s;
        --_red: #cc0000;
		--_bdrs: 0rem;
		--_top-bottom-bdrs: 0rem;

        width: clamp(270px, 100%, 700px);
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr .8fr;
        gap: var(--_common-gap);

        #inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--_common-gap);

            div {
                background-color: var(--_red);
				border-radius: var(--_bdrs);
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background var(--_transition-duration);

                &:focus-within .material-symbols-rounded {
                    color: var(--_red);
                    background-color: white;
                }

                &:hover:not(:focus-within) {
                    --_red: #aa0000;
                }

                input {
                    --_padding: var(--_mui-padding);

                    width: 100%;
                    padding: calc(var(--_padding) / 2) var(--_padding);
                    font-size: 1.05rem;
                    font-weight: 600;
                    background-color: transparent;

                    &:focus,
                    &:focus-visible {
                        outline: none;
                    }
                }

                .material-symbols-rounded {
                    padding: var(--_mui-padding);
                    font-size: var(--_mui-font-size);
                    font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 48;
					border-radius: var(--_bdrs);
					border-top-right-radius: var(--_top-bottom-bdrs);
					border-bottom-right-radius: var(--_top-bottom-bdrs);
                    transition: color, background;
                    transition-duration: var(--_transition-duration);
                }
            }
        }

        button {
            grid-column: 1 / -1;
            padding: 0;
			border-radius: var(--_bdrs);
            transition: background-color var(--_transition-duration);

            &:hover,
            &:focus-visible,
            &:focus {
                background-color: #404040;
                outline: 1px solid var(--_red);
                outline: none;
            }

            .material-symbols-rounded {
                padding: var(--_mui-padding);
                font-size: var(--_mui-font-size);
                font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
            }
        }
    }
}

@media (max-width: 470px) {
    main {
        #number {
            font-size: 2rem;
        }

        .container {
            --_mui-padding: .7rem;
            --_mui-font-size: 1.1rem;
            --_common-gap: 0.3rem;

            padding: .7rem;

            #inputs {
                div {
                    input {
                        font-size: .85rem;
                    }
                }
            }
        }
    }
}