*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	min-width: 20em;
	color-scheme: dark;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background-color: #000;
}

::-webkit-scrollbar-thumb {
	background-color: #222;
	border-radius: 100vmax;
}

body {
	margin: 0;
	padding: 0;
	color: rgb(255, 255, 255, 0.85);
	font-family: "ADLaM Display", cursive;
	font-size: 1rem;
	background-color: #000;
}

input,
button {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

main {
	--_mui-padding: 1.1875rem;
	--_mui-font-size: 1.5rem;
	--_common-gap: 0.1875rem;
	--_transition-duration: 0.35s;
	--_red: #cc0000;
	--_bdrs: 0.25rem;
	--_more-bdrs: 1.75rem;

	min-width: 100%;
	min-height: 100vh;
	min-height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;

	.container {
		width: clamp(16.875em, 100%, 43.75em);
		margin-block: 6rem 10rem;
		padding: 0.875rem;
		background-color: #222;
		border-radius: calc(var(--_more-bdrs) * 1.25);
		display: grid;
		grid-template-columns: 1fr 0.8fr;
		gap: var(--_common-gap);

		#number {
			margin: 0;
			padding: 0.5rem;
			font-size: 2.85rem;
			font-weight: 500;
			background-color: #333d;
			border-radius: var(--_bdrs);
			border-top-left-radius: var(--_more-bdrs);
			display: grid;
			place-content: center;
		}

		#inputs {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: var(--_common-gap);

			[animate] {
				width: 100%;

				&:first-child div {
					border-top-right-radius: var(--_more-bdrs);
				}
			}

			[animate] div {
				width: 100%;
				background-color: var(--_red);
				border-radius: var(--_bdrs);
				display: flex;
				justify-content: center;
				align-items: stretch;
				overflow: hidden;
				transition: background var(--_transition-duration);

				&:focus-within .material-symbols-rounded {
					color: var(--_red);
					background-color: white;
				}

				&:hover:not(:focus-within) {
					--_red: #aa0000;
				}

				input {
					--_padding: var(--_mui-padding);

					width: 100%;
					padding-inline: calc(var(--_padding) / 2) calc(var(--_padding));
					font: inherit;
					font-size: 1.125rem;
					line-height: 1.5;
					background-color: transparent;
					border: none;

					&:focus,
					&:focus-visible {
						outline: none;
					}
				}

				.material-symbols-rounded {
					padding: var(--_mui-padding);
					font-size: var(--_mui-font-size);
					font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 48;
					border-radius: var(--_bdrs);
					transition: color, background;
					transition-duration: var(--_transition-duration);
				}
			}
		}

		.buttons {
			padding: 0;
			grid-column: 1 / -1;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: var(--_common-gap);
			overflow: hidden;

			[animate="4"] {
				flex: 1 1 85%;
			}

			[animate="5"] {
				min-width: 6.25rem;
				flex: 1 1 15%;
			}

			button {
				width: 100%;
				padding: 0;
				background-color: #3c3c3c;
				border: none;
				border-radius: var(--_bdrs);
				display: block;
				transition: background-color var(--_transition-duration);
				cursor: pointer;

				&:hover,
				&:focus-visible,
				&:focus {
					background-color: #323232;
				}

				.material-symbols-rounded {
					padding: var(--_mui-padding);
					font-size: var(--_mui-font-size);
					font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 200, "opsz" 48;
				}
			}

			#submit {
				border-bottom-left-radius: var(--_more-bdrs);
			}

			#all-random {
				min-width: 6.25rem;
				border-bottom-right-radius: var(--_more-bdrs);
				flex: 1 1 15%;

				.material-symbols-rounded {
					padding-inline-end: 1.3rem;
				}
			}
		}
	}
}

@media (max-width: 56.25em) {
	main {
		padding-inline: 1rem;

		.container #number {
			padding-block: 1.25em;
			font-size: 3.75rem;
			border-top-left-radius: var(--_more-bdrs);
			border-top-right-radius: var(--_more-bdrs);
		}

		.container {
			grid-template-columns: 1fr;

			#inputs [animate]:first-child div {
				border-top-right-radius: var(--_bdrs);
			}
		}
	}
}

body {
	--delay: 120ms;
	--child: 1;
	--sub-delay: 80ms;
	--sub-child: 0;
}

.container,
[animate] {
	opacity: 0;
	translate: -3.6rem -1.2rem;
}

.container.animate,
.container.animate [animate] {
	opacity: 1;
	translate: 0 0;
	transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1)
		calc(120ms + ((var(--delay) * var(--child)) + (var(--sub-delay) * var(--sub-child))));
	transition-property: opacity, translate;
}

.container {
	--child: 1;
}

[animate="1"] {
	--child: 2;
}

[animate="2"] {
	--child: 3;
	--sub-child: 0;
}

[animate="3"] {
	--child: 3;
	--sub-child: 1;
}

[animate="4"] {
	--child: 4;
	--sub-child: 0;
}

[animate="5"] {
	--child: 4;
	--sub-child: 1;
}
